/* TYPEPOGRAPHY */
body {
  font-family: /* font for entire page */
    Helvetica Neue,
    Helvetica,
    sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* heading styles */
h1,
h2 {
  color: #f7eec5;
  font-size: 2rem;
}
h3 {
  color: #ffffff;
  font-size: 1.5rem;
}
/* subheader styles */
subheader {
  color: #0258a1;
  font-size: 1.5rem;
  font-family: "climate crisis";
  font-weight: 400;
  font-style: normal;
}

/* HEADER SECTION */
header {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100; /* ensures header stays on top of other content when scrolling */
}
/* logo styles */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.logo img {
  height: 2rem;
}

/* navigation styles */
nav {
  background-color: #ffffff;
  padding-top: 2rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 2rem;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.navigation-menu li {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 1.5rem;
}
.navigation-menu li a img {
  width: 1.75rem;
  height: 1.75rem;
  gap: -0.5rem;
}

/* align navigation items to the right */
.navigation-menu li:nth-child(2) {
  margin-left: auto;
}

/* HERO SECTION */
.main-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: relative;
}
.overlay-text {
  position: absolute;
  bottom: 20%;
  left: 7%;
  text-align: start;
}

/* button styles */
button {
  background-color: #ffffff;
  color: #0258a1;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
button:hover {
  background-color: #80a6cb;
}

/* ABOUT SECTION */
.about-section {
  background-color: #e19768;
  text-align: center;
  color: #ffffff;
  padding: 15rem 1rem;
}

/* PRODUCT ESSENTIALS SECTION */

.product-essentials h3 {
  text-align: left;
  margin: 2rem 2rem;
}
.category-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-item img {
  width: auto;
  height: 20rem;
  margin: 0.5rem;
}

/* category items */
.category-item {
  text-align: center;
  list-style: none;
}

/* category item subheads */
.category-item a {
  text-decoration: none;
  color: #0258a1;
  font-weight: bold;
}
.category-item a:hover {
  color: #80a6cb;
  text-decoration: underline;
}

/* FOOTER SECTION */
footer {
  background-color: #0258a1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: justify;
}

/* footer headings */
h4,
h5,
h6 {
  color: #ffff;
  font-size: 1.25rem;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

h5,
h6 {
  margin-top: 2rem;
}

/* footer links */
.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}
.footer-links li {
  margin: 0.3rem 0;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}
.footer-links a:hover {
  color: #0258a1;
}

/* copyright section */
.copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: -3vh;
  color: #ffffff;
}
