/* TYPEPOGRAPHY */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 5.5vw;
  overflow-x: hidden;
}

/* headings */
h1,
h2 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
  color: #f7eec5;
  font-size: 9vw;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 14vw;
  color: #ffffff;
}

h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5.2vw;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

/* BUTTON STYLES */
button {
  display: inline-block;
  background-color: #ffffff;
  color: #0258a1;
  font-weight: 500;
  border-style: none;
}

button:hover {
  background-color: #0258a1;
  color: #ffffff;
  transition: 0.2s ease-in;
}

/* HEADER SECTION */
header {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100; /* ensures header stays on top of other content when scrolling */
}

/* NAVIGATION MENU */
.navigation-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-top: 0;
}
/* menu overlay */
.menu-overlay {
  position: fixed;
  width: 0; /* start: not visible */
  height: 100%;
  top: 0;
  left: 0;
  background-color: white; /* background turns dark */
  transition: 0.4s; /* smooth slide */
  z-index: 1000; /* keeps overlay over content */
  overflow-x: hidden;
}

/* dim layer when menu opened */
.menu-dim-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.menu-dim-layer.active {
  opacity: 1;
}

.menu-overlay-content a {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  color: #0258a1;
  font-size: 5.5vw;
  text-decoration: none;
  text-align: none;
  margin-left: 6vw;
  transition: color 0.2s ease-in-out;
}
.submenu {
  display: none;
  margin-left: 2rem;
}

.submenu.open {
  display: block;
}

.chevron-toggle {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  width: 3vw;
  height: 3vw;
  margin-top: 0.7vw;
}

.chevron-toggle.chevron-up {
  transform: rotate(180deg);
}

.submenu a {
  font-size: 4.75vw;
}
.close-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.close-icon {
  width: 2vw;
  height: 2vw;
}

/* LOGO */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  height: 4vw;
}

.nav-left,
.nav-right {
  list-style-type: none;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

/* icon size */
nav ul li a img {
  height: 4vw;
  width: 4vw;
  display: block;
}

.shopping-cart-icon {
  height: 4.7vw;
  width: 4.7vw;
}

/* FOOTER SECTION */
footer {
  background-color: #0258a1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: justify;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5.5vh;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

/* footer links */
.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 4.5vw;
}
.footer-links li {
  margin: 0.3rem 0;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}
.footer-links a:hover {
  color: #e19768;
  transition: 0.2s ease-in;
}

/* copyright section */
.copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3vw;
  font-size: 3.7vw;
  color: #ffffff;
}
