/* HERO SECTION */
.bestseller-page .hero-container {
  position: relative;
  width: 100%;
}
.bestseller-page .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bestseller-page .hero-overlay h3 {
  margin-bottom: 5vw;
}

/* PRODUCT DISPLAY SECTION */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 5rem;
  padding: 8rem;
}
.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Product Images */
.product-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}

/* Hover Images */
.product-image img.front {
  position: absolute;
}

/* Icon Product Image */
.add-to-basket-icon {
  position: absolute;
}

/* Icon Product Image Hover */
.add-to-basket-icon img.back {
  opacity: 0;
}

/* Hover: Switch Images & Icons */
.product-image:hover img.front {
  opacity: 0;
}
.product-image:hover img.back {
  opacity: 1;
}
.product-image:hover .add-to-basket-icon img.front {
  opacity: 0;
}
.product-image:hover .add-to-basket-icon img.back {
  opacity: 1;
}

/* Product Details */
.product-info {
  width: 100%;
  margin-top: 0.8rem;
  text-align: left;
}
.product-name {
  color: #0258a1;
  margin-bottom: 0.2rem;
}
.product-price {
  color: #0258a1;
  margin-top: 0.7rem;
}
