/* HERO SECTION */
.hero-container {
  position: relative;
  width: 100%;
  height: auto;
}
.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Hero text overlay */
.landing-page .hero-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing-page .hero-overlay h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* ABOUT SECTION */
.about-section {
  background-color: #e19768;
  text-align: left;
  color: #ffffff;
}
.about-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: nowrap;
}
.about-image img {
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.about-text {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 1rem 1rem;
}
.about-text h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* CATEGORY SECTION */
.product-essentials {
  padding: 0 1.5rem;
  width: 100%;
}
.category-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  overflow-x: auto;
  scroll-behavior: smooth; /* adds horizontal scroll behaviour */
}
.category-item img {
  width: auto;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  align-items: center;
  align-content: center;
}

/* category items */
.category-item {
  text-align: center;
  list-style: none;
  flex: 0 0 auto;
}

/* category item subheads */
.category-item a {
  text-decoration: none;
  color: #0258a1;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.category-item a:hover {
  color: #e19768;
  text-decoration: none;
  transition: 0.2s ease-in;
}
.category-title {
  margin-top: 0.5rem;
  display: block;
}
