.product-page {
  display: flex;
  overflow-x: hidden;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

/* Gallery to the left */
.product-gallery {
  flex: 1 1 400px;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Main Image */
.main-image {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
.main-image img {
  width: 100%;
  display: block;
}

/* Arrows */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0.5rem;
  z-index: 10;
  background-color: none;
}
.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}
.arrow-left,
.arrow-right img {
  width: 3rem;
  height: 3rem;
  display: block;
}

/* Additional Images */
.additional-images {
  display: flex;
  gap: 0.75rem;
  overflow-x: hidden;
  width: 100%;
  transition: transform 0.3s ease;
}

/* Product Info */
.product-info {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#size-select {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: 10rem;
}

.product-page p {
  color: #0258a1;
  font-size: 1rem;
}

.add-to-basket-icon img {
  width: 3rem;
  height: 3rem;
}
