.product-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 4rem;
  flex-wrap: no-wrap;
}

/* Gallery to the left */
.product-gallery {
  flex: 1 1 50%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
}

/* Images */
.product-images img {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  object-position: center;
}

/* Arrows */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0.5rem;
  z-index: 10;
}
.arrow-left {
  left: 0.75rem;
}

.arrow-right {
  right: 0.75rem;
}
.arrow-left img,
.arrow-right img {
  width: 2rem;
  height: 2rem;
}

/* Product Info on the right */
.product-info {
  flex: 1 1 45%px;
  display: flex;
  flex-direction: column;
}
.product-name {
  font-size: 1.5rem;
  font-weight: 600;
}
.product-price {
  font-size: 1.3rem;
  font-weight: 500;
}

#size-select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #0258a1;
  background: #fff;
  width: 10rem;
}

.add-to-basket-icon p {
  font-size: 1.3rem;
}

.add-to-basket-icon img {
  width: 2rem;
  height: 2rem;
}
