.shopping-cart {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
}
.cart-title {
  color: #0258a1;
  text-align: center;
}
/* Cart Table */
#cart-items {
  width: 100%;
  color: #0258a1;
  border-collapse: collapse;
  margin: 0 auto;
}

#cart-items thead {
  border-bottom: 2px solid #e5e5e5;
}

#cart-items th {
  font-weight: 600;
  text-align: left;
}

#cart-items td:first-child {
  font-weight: 300;
}
#cart-items td:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Quantity Input */
.quantity-input {
  border: 1px solid #e5e5e5;
  text-align: center;
}

/* Quantity Column Centering */
#cart-items td:nth-child(2) {
  justify-content: center; /* center horizontal*/
}

/* Quantity Buttons */
.quantity-btn {
  font-weight: 300;
  background-color: transparent;
}

.quantity-btn:hover {
  color: #e19768;
  transform: scale(1.3);
  background-color: transparent;
}

/* Trashcan Icon */
.remove-icon {
  transition: 0.2s;
}
.remove-icon:hover {
  transform: scale(1.3);
}

/* align table icons */
#cart-items th:nth-child(1),
#cart-items td:nth-child(1) {
  width: 40%; /* Product */
}

#cart-items th:nth-child(2),
#cart-items td:nth-child(2) {
  width: 35%; /* Quantity */
}

#cart-items th:nth-child(3),
#cart-items td:nth-child(3) {
  width: 25%; /* Price + Icon */
}

/* Cart Summary Box */
#cart-summary {
  position: relative;
  margin-bottom: 0;

  background-color: #fafafa;
  margin: 0 auto;
  min-height: 20vw;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#cart-summary p {
  color: #0258a1;
  text-align: left;
}

#cart-summary p:last-of-type {
  font-weight: 500;
}

#checkout-button {
  background-color: #0258a1;
  color: #ffffff;
}

#checkout-button:hover {
  transition: 0.2s ease-in;
  background-color: #e19768;
}
