/* MAIN */

/* typography */
@media (min-width: 700px) {
  body {
    font-size: 2.5rem;
  }
  h4,
  h5,
  h6 {
    font-size: 3.25rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 2.25rem;
  }
  h4,
  h5,
  h6 {
    font-size: 2.55rem;
  }
}

/* button */
@media (min-width: 700px) {
  button {
    padding: 1.75rem 2rem;
    font-size: 2.85rem;
  }
}

@media (min-width: 1000px) {
  button {
    padding: 1.5rem 1.75rem;
    font-size: 2.6rem;
  }
}

/* Navigation Bar */
@media (min-width: 700px) {
  .navigation-bar {
    padding: 1.75rem 2.25rem;
    margin-top: 0.5rem;
  }
  .nav-right {
    gap: 1.5rem;
  }
  nav ul li a img {
    height: 2.25rem;
    width: 2.25rem;
  }
  .shopping-cart-icon {
    height: 2.6rem;
    width: 2.6rem;
  }
  .logo img {
    height: 2.25rem;
  }
}

@media (min-width: 1000px) {
  .navigation-bar {
    padding: 1.5rem 2rem;
    margin-top: 0.5rem;
  }
  .nav-right {
    gap: 1.5rem;
  }
  nav ul li a img {
    height: 2rem;
    width: 2rem;
  }
  .shopping-cart-icon {
    height: 2.35rem;
    width: 2.35rem;
  }
  .logo img {
    height: 2rem;
  }
}

/* Menu Overlay */
@media (min-width: 700px) {
  .menu-overlay {
    padding-top: 2.75rem;
  }
  .menu-overlay.open {
    width: 38%;
    height: 100%;
  }
  .menu-overlay-content a {
    font-size: 3.25rem;
    margin-left: 3rem;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.5rem;
  }
  .submenu {
    margin-left: 1rem;
  }
  .chevron-toggle {
    width: 1.75rem;
    height: 1.75rem;
    margin-top: 0.15rem;
  }
  .submenu a {
    font-size: 2.75rem;
  }
  .close-nav {
    top: 1.5rem;
    right: 1.5rem;
  }
  .close-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .menu-overlay {
    padding-top: 2.5rem;
  }
  .menu-overlay.open {
    width: 33%;
  }
  .menu-overlay-content a {
    font-size: 2.4rem;
    margin-left: 3rem;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.35rem;
  }
  .submenu {
    margin-left: 1rem;
  }
  .submenu a:first-child {
    margin-top: 0.6rem;
  }
  .chevron-toggle {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.125rem;
  }
  .submenu a {
    font-size: 2.35rem;
  }
  .close-nav {
    top: 1.25rem;
    right: 1.75rem;
  }
  .close-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* LANDING PAGE */

/* hero section */
@media (min-width: 700px) {
  .hero-container img {
    object-position: center 2px;
    height: 35rem;
  }
  .landing-page .hero-overlay h1 {
    font-size: 4rem;
    line-height: 3.25rem;
  }
  .landing-page .hero-overlay {
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .hero-container img {
    object-position: center 4px;
    height: 31.25rem;
  }
  .landing-page .hero-overlay h1 {
    font-size: 4rem;
    line-height: 3rem;
  }
  .landing-page .hero-overlay {
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

/* About Section */
@media (min-width: 700px) {
  .about-container {
    height: 35rem;
  }
  .about-image img {
    object-position: center;
    width: 23rem;
  }
  .about-text h2 {
    font-size: 4rem;
  }
  .about-text p {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .about-container {
    height: 31.25rem;
  }
  .about-image img {
    object-position: center 90%;
    width: 25rem;
  }
  .about-text h2 {
    font-size: 4rem;
  }
  .about-text p {
    font-size: 1.5rem;
  }
}

/* Category Section */
@media (min-width: 700px) {
  .product-essentials {
    height: 35rem;
  }
  .category-item img {
    height: 25rem;
    margin-top: 4rem;
  }
  .category-item a {
    font-size: 2.75rem;
  }
}

@media (min-width: 1000px) {
  .product-essentials {
    height: 31.25rem;
  }
  .category-item img {
    height: 22.5rem;
    margin-top: 3.5rem;
  }
  .category-item a {
    font-size: 2.5rem;
  }
}

/* Footer */
@media (min-width: 700px) {
  .footer {
    height: 17.5rem;
  }
  .footer-menu {
    margin-left: 3.5rem;
    margin-right: 2rem;
  }
  .footer-links {
    font-size: 2.5rem;
  }
  .copyright-section {
    margin-bottom: -1.75rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  .footer {
    height: 15.625rem;
  }
  .footer-menu {
    margin-left: 5rem;
    margin-right: 3.5rem;
  }
  .footer-links {
    font-size: 2.55rem;
  }
  .footer-column {
    gap: 0;
  }
  .copyright-section {
    margin-bottom: -2rem;
    font-size: 1.75rem;
  }
}

/* BESTSELLER PAGE */
@media (min-width: 700px) {
  .bestseller-page .hero-container img {
    object-position: center 7px;
    height: 35rem;
  }
  .bestseller-page .hero-overlay h3 {
    font-size: 7rem;
  }
}

@media (min-width: 1000px) {
  .bestseller-page .hero-container img {
    object-position: center 7px;
    height: 31.25rem;
  }
  .bestseller-page .hero-overlay h3 {
    font-size: 6.5rem;
  }
}

/* product pictures */
@media (min-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .add-to-basket-icon {
    top: 1.75rem;
    right: 1.75rem;
    width: 2.75rem;
    height: 2.75rem;
  }
  .product-name {
    font-size: 4.5rem;
  }
  .product-price {
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .add-to-basket-icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 2.25rem;
    height: 2.25rem;
  }
  .product-name {
    font-size: 2.75rem;
  }
  .product-price {
    font-size: 2.25rem;
  }
}

/* SHOPPING CART */
@media (min-width: 700px) {
  .shopping-cart {
    height: 35rem;
  }
  .cart-title {
    margin: 1.5rem;
    font-size: 3.5rem;
  }
  #cart-items th {
    padding-bottom: 0.25rem;
    font-size: 2.65rem;
  }
  #cart-items th:nth-child(2) {
    padding-left: 2.25rem;
  }
  #cart-items td:nth-child(3) {
    gap: 1rem;
  }
  #cart-items td {
    font-size: 2rem;
  }
  .remove-icon {
    height: 1.25rem;
  }
  #cart-summary {
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  #cart-summary p {
    font-size: 2rem;
    margin: 0.25rem;
  }
  #checkout-button {
    padding: 0.85rem 1.35rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .shopping-cart {
    height: 32.5rem;
  }
  .cart-title {
    font-size: 4rem;
  }
  #cart-items th {
    font-size: 2.75rem;
  }
  #cart-items th:nth-child(2) {
    padding-left: 1.25rem;
  }
  #cart-items td:nth-child(3) {
    gap: 1rem;
  }
  #cart-items td {
    font-size: 2.25rem;
  }
  .remove-icon {
    height: 1.35rem;
  }
  #cart-summary {
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #cart-summary p {
    font-size: 2.25rem;
    margin: 0.35rem;
  }
  #checkout-button {
    padding: 0.8rem 1.3rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;
  }
}
