/* MAIN */

/* typography */
@media (min-width: 700px) {
  body {
    font-size: 1.8rem;
  }
  h4,
  h5,
  h6 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.6rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.8rem;
  }
}

/* button */
@media (min-width: 700px) {
  button {
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  button {
    padding: 1.2rem 1.5rem;
    font-size: 1.8rem;
  }
}

/* Navigation Bar */
@media (min-width: 700px) {
  .navigation-bar {
    padding: 1.2rem 1.5rem;
    margin-top: 0.35rem;
  }
  .nav-right {
    gap: 1rem;
  }
  nav ul li a img {
    height: 1.6rem;
    width: 1.6rem;
  }
  .shopping-cart-icon {
    height: 1.85rem;
    width: 1.85rem;
  }
  .logo img {
    height: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .navigation-bar {
    padding: 1rem 1.3rem;
    margin-top: 0.35rem;
  }
  .nav-right {
    gap: 1rem;
  }
  nav ul li a img {
    height: 1.5rem;
    width: 1.5rem;
  }
  .shopping-cart-icon {
    height: 1.65rem;
    width: 1.65rem;
  }
  .logo img {
    height: 1.5rem;
  }
}

/* Menu Overlay */
@media (min-width: 700px) {
  .menu-overlay {
    padding-top: 2rem;
  }
  .menu-overlay.open {
    width: 28%;
    height: 100%;
  }
  .menu-overlay-content a {
    font-size: 2.3rem;
    margin-left: 2rem;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.35rem;
  }
  .submenu {
    margin-left: 0.7rem;
  }
  .chevron-toggle {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.1rem;
  }
  .submenu a {
    font-size: 2rem;
  }
  .close-nav {
    top: 1rem;
    right: 1rem;
  }
  .close-icon {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 1000px) {
  .menu-overlay {
    padding-top: 1.8rem;
  }
  .menu-overlay.open {
    width: 25%;
  }
  .menu-overlay-content a {
    font-size: 1.7rem;
    margin-left: 2rem;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.25rem;
  }
  .submenu {
    margin-left: 0.7rem;
  }
  .submenu a:first-child {
    margin-top: 0.4rem;
  }
  .chevron-toggle {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.1rem;
  }
  .submenu a {
    font-size: 1.65rem;
  }
  .close-nav {
    top: 1rem;
    right: 1.25rem;
  }
  .close-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}

/* LANDING PAGE */

/* hero section */
@media (min-width: 700px) {
  .hero-container img {
    object-position: center 2px;
    height: 25rem;
  }
  .landing-page .hero-overlay h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .landing-page .hero-overlay {
    bottom: 1.8rem;
    left: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .hero-container img {
    object-position: center 4px;
    height: 22rem;
  }
  .landing-page .hero-overlay h1 {
    font-size: 3rem;
    line-height: 2.25rem;
  }
  .landing-page .hero-overlay {
    bottom: 1.8rem;
    left: 1.8rem;
  }
}

/* About Section */
@media (min-width: 700px) {
  .about-container {
    height: 25rem;
  }
  .about-image img {
    object-position: center;
    width: 16rem;
  }
  .about-text h2 {
    font-size: 3rem;
  }
  .about-text p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1000px) {
  .about-container {
    height: 22rem;
  }
  .about-image img {
    object-position: center 90%;
    width: 18rem;
  }
  .about-text h2 {
    font-size: 3rem;
  }
  .about-text p {
    font-size: 1rem;
  }
}

/* Category Section */
@media (min-width: 700px) {
  .product-essentials {
    height: 25rem;
  }
  .category-item img {
    height: 18rem;
    margin-top: 2.5rem;
  }
  .category-item a {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .product-essentials {
    height: 22rem;
  }
  .category-item img {
    height: 16rem;
    margin-top: 2rem;
  }
  .category-item a {
    font-size: 1.8rem;
  }
}

/* Footer */
@media (min-width: 700px) {
  .footer {
    height: 12.5rem;
  }
  .footer-menu {
    margin-left: 2.5rem;
    margin-right: 1.5rem;
  }
  .footer-links {
    font-size: 1.8rem;
  }
  .copyright-section {
    margin-bottom: -1rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 1000px) {
  .footer {
    height: 11rem;
  }
  .footer-menu {
    margin-left: 3rem;
    margin-right: 2.5rem;
  }
  .footer-links {
    font-size: 1.85rem;
  }
  .footer-column {
    gap: 0;
  }
  .copyright-section {
    margin-bottom: -1.25rem;
    font-size: 1rem;
  }
}

/* BESTSELLER PAGE */
@media (min-width: 700px) {
  .bestseller-page .hero-container img {
    object-position: center 7px;
    height: 25rem;
  }
  .bestseller-page .hero-overlay h3 {
    font-size: 5rem;
  }
}

@media (min-width: 1000px) {
  .bestseller-page .hero-container img {
    object-position: center 7px;
    height: 22rem;
  }
  .bestseller-page .hero-overlay h3 {
    font-size: 4.5rem;
  }
}

/* product pictures */
@media (min-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .add-to-basket-icon {
    top: 1.25rem;
    right: 1.25rem;
    width: 2rem;
    height: 2rem;
  }
  .product-name {
    font-size: 3rem;
  }
  .product-price {
    font-size: 2.25rem;
  }
}

@media (min-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .add-to-basket-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
  }
  .product-name {
    font-size: 2rem;
  }
  .product-price {
    font-size: 1.75rem;
  }
}

/* SHOPPING CART */
@media (min-width: 700px) {
  .shopping-cart {
    height: 25rem;
  }
  .cart-title {
    margin: 1rem;
    font-size: 2.5rem;
  }
  #cart-items th {
    padding-bottom: 0.2rem;
    font-size: 1.9rem;
  }
  #cart-items th:nth-child(2) {
    padding-left: 1.5rem;
  }
  #cart-items td:nth-child(3) {
    gap: 0.7rem;
  }
  #cart-items td {
    font-size: 1.5rem;
  }
  .remove-icon {
    height: 0.9rem;
  }
  #cart-summary {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #cart-summary p {
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  #checkout-button {
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .shopping-cart {
    height: 23rem;
  }
  .cart-title {
    font-size: 2.8rem;
  }
  #cart-items th {
    font-size: 1.9rem;
  }
  #cart-items th:nth-child(2) {
    padding-left: 0.9rem;
  }
  #cart-items td:nth-child(3) {
    gap: 0.7rem;
  }
  #cart-items td {
    font-size: 1.6rem;
  }
  .remove-icon {
    height: 1rem;
  }
  #cart-summary {
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
  }
  #cart-summary p {
    font-size: 1.6rem;
    margin: 0.25rem;
  }
  #checkout-button {
    padding: 0.55rem 0.95rem;
    margin-top: 1rem;
    font-size: 1.75rem;
  }
}
