/* MAIN */

/* typography */
@media (min-width: 700px) {
  body {
    font-size: 5vw;
  }
  h4,
  h5,
  h6 {
    font-size: 6.5vw;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 4.5vw;
  }
  h4,
  h5,
  h6 {
    font-size: 5.1vw;
  }
}

/* button */
@media (min-width: 700px) {
  button {
    padding: 3.5vw 4vw;
    font-size: 5.7vw;
  }
}

@media (min-width: 1000px) {
  button {
    padding: 3vw 3.5vw;
    font-size: 5.2vw;
  }
}

/* Navigation Bar */
@media (min-width: 700px) {
  .navigation-bar {
    padding: 3.5vw 4.5vw;
    margin-top: 1vw;
  }
  .nav-right {
    gap: 3vw;
  }
  nav ul li a img {
    height: 4.5vw;
    width: 4.5vw;
  }
  .shopping-cart-icon {
    height: 5.2vw;
    width: 5.2vw;
  }
  .logo img {
    height: 4.5vw;
  }
}

@media (min-width: 1000px) {
  .navigation-bar {
    padding: 3vw 4vw;
    margin-top: 1vw;
  }
  .nav-right {
    gap: 3vw;
  }
  nav ul li a img {
    height: 4vw;
    width: 4vw;
  }
  .shopping-cart-icon {
    height: 4.7vw;
    width: 4.7vw;
  }
  .logo img {
    height: 4vw;
  }
}

/* Menu Overlay */
@media (min-width: 700px) {
  .menu-overlay {
    padding-top: 5.5vw;
  }
  .menu-overlay.open {
    width: 38%;
    height: 100%;
  }
  .menu-overlay-content a {
    font-size: 6.5vw;
    margin-left: 6vw;
  }
  .menu-overlay-content a:first-child {
    margin-top: 1vw;
  }
  .submenu {
    margin-left: 2vw;
  }
  .chevron-toggle {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 0.3vw;
  }
  .submenu a {
    font-size: 5.5vw;
  }
  .close-nav {
    top: 3vw;
    right: 3vw;
  }
  .close-icon {
    width: 3vw;
    height: 3vw;
  }
}

@media (min-width: 1000px) {
  .menu-overlay {
    padding-top: 5vw;
  }
  .menu-overlay.open {
    width: 33%;
  }
  .menu-overlay-content a {
    font-size: 4.8vw;
    margin-left: 6vw;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.75vw;
  }
  .submenu {
    margin-left: 2vw;
  }
  .submenu a:first-child {
    margin-top: 1.2vw;
  }
  .chevron-toggle {
    width: 3vw;
    height: 3vw;
    margin-top: 0.25vw;
  }
  .submenu a {
    font-size: 4.75vw;
  }
  .close-nav {
    top: 2.5vw;
    right: 3.5vw;
  }
  .close-icon {
    width: 2.5vw;
    height: 2.5vw;
  }
}

/* LANDING PAGE */

/* hero section */
@media (min-width: 700px) {
  .hero-container img {
    object-position: center 2px;
    height: 70vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 8vw;
    line-height: 6.5vw;
  }
  .landing-page .hero-overlay {
    bottom: 5vw;
    left: 5vw;
  }
}

@media (min-width: 1000px) {
  .hero-container img {
    object-position: center 4px;
    height: 62.5vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 8vw;
    line-height: 6.5vw;
  }
  .landing-page .hero-overlay {
    bottom: 5vw;
    left: 5vw;
  }
}

/* About Section */
@media (min-width: 700px) {
  .about-container {
    height: 70vw;
  }
  .about-image img {
    object-position: center;
    width: 46vw;
  }
  .about-text h2 {
    font-size: 8vw;
  }
  .about-text p {
    font-size: 2vw;
  }
}

@media (min-width: 1000px) {
  .about-container {
    height: 62.5vw;
  }
  .about-image img {
    object-position: center 90%;
    width: 50vw;
  }
  .about-text h2 {
    font-size: 8vw;
  }
  .about-text p {
    font-size: 3vw;
  }
}

/* Category Section */
@media (min-width: 700px) {
  .product-essentials {
    height: 70vw;
  }
  .category-item img {
    height: 50vw;
    margin-top: 8vw;
  }
  .category-item a {
    font-size: 5.5vw;
  }
}

@media (min-width: 1000px) {
  .product-essentials {
    height: 62.5vw;
  }
  .category-item img {
    height: 45vw;
    margin-top: 7vw;
  }
  .category-item a {
    font-size: 5vw;
  }
}

/* Footer */
@media (min-width: 700px) {
  .footer {
    height: 35vh;
  }
  .footer-menu {
    margin-left: 7vw;
    margin-right: 4vw;
  }
  .footer-links {
    font-size: 5vw;
  }
  .copyright-section {
    margin-bottom: -3.5vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1000px) {
  .footer {
    height: 31.25vh;
  }
  .footer-menu {
    margin-left: 10vw;
    margin-right: 7vw;
  }
  .footer-links {
    font-size: 4.1vw;
  }
  .footer-column {
    gap: 0;
  }
  .copyright-section {
    margin-bottom: -4vw;
    font-size: 3.5vw;
  }
}

/* BESTSELLER PAGE */
@media (min-width: 700px) {
  .bestseller-page .hero-overlay h3 {
    font-size: 14vw;
  }
}

@media (min-width: 1000px) {
  .bestseller-page .hero-container img {
    object-position: center 7px;
    height: 62.5vw;
  }
  .bestseller-page .hero-overlay h3 {
    font-size: 13vw;
  }
}

/* product pictures */
@media (min-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-name {
    font-size: 9vw;
  }
  .product-price {
    font-size: 7vw;
  }
}

@media (min-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .add-to-basket-icon {
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    width: 4.5vw;
    height: 4.5vw;
  }
  .product-name {
    font-size: 5.5vw;
  }
  .product-price {
    font-size: 4.5vw;
  }
}

/* SHOPPING CART */
@media (min-width: 700px) {
  .shopping-cart {
    height: 70vh;
  }
  .cart-title {
    margin: 3vw;
    font-size: 7vw;
  }
  #cart-items th {
    padding-bottom: 0.5vw;
    font-size: 5.3vw;
  }
  #cart-items th:nth-child(2) {
    padding-left: 4.5vw;
  }
  #cart-items td:nth-child(3) {
    gap: 2vw;
  }
  #cart-items td {
    font-size: 4vw;
  }
  .remove-icon {
    height: 2.5vw;
  }
  #cart-summary {
    padding-top: 3vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
  }
  #cart-summary p {
    font-size: 4vw;
    margin: 0.5vw;
  }
  #checkout-button {
    padding: 1.7vw 2.7vw;
    margin-top: 3vw;
    font-size: 5vw;
  }
}

@media (min-width: 1000px) {
  .shopping-cart {
    height: 65vh;
  }
  .cart-title {
    font-size: 8vw;
  }
  #cart-items th {
    font-size: 5.5vw;
  }
  #cart-items th:nth-child(2) {
    padding-left: 2.5vw;
  }
  #cart-items td:nth-child(3) {
    gap: 2vw;
  }
  #cart-items td {
    font-size: 4.5vw;
  }
  .remove-icon {
    height: 2.7vw;
  }
  #cart-summary {
    padding-right: 3vw;
    padding-bottom: 3vw;
  }
  #cart-summary p {
    font-size: 4.5vw;
    margin: 0.75vw;
  }
  #checkout-button {
    padding: 1.6vw 2.6vw;
    margin-top: 3vw;
    font-size: 5vw;
  }
}
