/* MAIN */

/* typography */

@media (min-width: 1500px) {
  body {
    font-size: 4vw;
  }
  h4,
  h5,
  h6 {
    font-size: 4vw;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 3.5vw;
  }
  h4,
  h5,
  h6 {
    font-size: 3.7vw;
  }
}

/* button */
@media (min-width: 1500px) {
  button {
    padding: 2.5vw 3vw;
    font-size: 4.7vw;
  }
}

@media (min-width: 2000px) {
  button {
    padding: 2vw 2.5vw;
    font-size: 3.5vw;
  }
}

/* Navigation Bar */
@media (min-width: 1500px) {
  .navigation-bar {
    padding: 2vw 3vw;
    margin-top: 1vw;
  }
  .nav-right {
    gap: 2.5vw;
  }
  nav ul li a img {
    height: 3vw;
    width: 3vw;
  }
  .shopping-cart-icon {
    height: 3.7vw;
    width: 3.7vw;
  }
  .logo img {
    height: 3vw;
  }
}

@media (min-width: 2000px) {
  .navigation-bar {
    padding: 2.5vw 2.5vw;
    margin-top: 0;
  }
  .nav-right {
    gap: 2vw;
  }
  nav ul li a img {
    height: 2.5vw;
    width: 2.5vw;
  }
  .shopping-cart-icon {
    height: 3vw;
    width: 3vw;
  }
  .logo img {
    height: 2.5vw;
    padding-top: 0.5vw;
  }
}

/* Menu Overlay */
@media (min-width: 1500px) {
  .menu-overlay {
    padding-top: 4.5vw;
  }
  .menu-overlay.open {
    width: 27%;
  }
  .menu-overlay-content a {
    font-size: 4vw;
    margin-left: 5vw;
  }
  .menu-overlay-content a:first-child {
    margin-top: 0.25vw;
  }
  .submenu {
    margin-left: 2vw;
  }
  .chevron-toggle {
    width: 2.5vw;
    height: 2.5vw;
    margin-top: 0.2vw;
  }
  .submenu a {
    font-size: 3.6vw;
  }
  .close-nav {
    top: 1vw;
    right: 2vw;
  }
  .close-icon {
    width: 2vw;
    height: 2vw;
  }
}

@media (min-width: 2000px) {
  .menu-overlay {
    padding-top: 2.5vw;
  }
  .menu-overlay.open {
    width: 22%;
  }
  .menu-overlay-content a {
    font-size: 3.2vw;
    margin-left: 4vw;
  }
  .menu-overlay-content a:first-child {
    margin-top: 1.5vw;
  }
  .submenu {
    margin-left: 2vw;
  }
  .chevron-toggle {
    width: 1.8vw;
    height: 1.8vw;
    margin-top: 0.2vw;
  }
  .submenu a {
    font-size: 2.7vw;
  }
  .submenu a:first-child {
    margin-top: 1vw;
  }
  .close-nav {
    top: 0.4vw;
    right: 2.2vw;
  }
  .close-icon {
    width: 1.5vw;
    height: 1.5vw;
  }
}

/* LANDING PAGE */

/* hero section */
@media (min-width: 1500px) {
  .hero-container img {
    object-position: center 6px;
    height: 55vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 7vw;
    line-height: 5.5vw;
  }
  .landing-page .hero-overlay {
    bottom: 4vw;
    left: 4vw;
  }
}

@media (min-width: 2000px) {
  .hero-container img {
    object-position: center 8px;
    height: 47.5vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 6vw;
    line-height: 5vw;
  }
  .landing-page .hero-overlay {
    bottom: 3vw;
    left: 3vw;
  }
}

/* About Section */
@media (min-width: 1500px) {
  .about-container {
    height: 55vw;
  }
  .about-image img {
    object-position: center 90%;
  }
  .about-text h2 {
    font-size: 7vw;
  }
  .about-text p {
    font-size: 2vw;
  }
}

@media (min-width: 2000px) {
  .about-container {
    height: 47.5vw;
  }
  .about-image img {
    object-position: center 90%;
  }
  .about-text h2 {
    font-size: 6vw;
  }
  .about-text p {
    font-size: 1vw;
  }
}

/* Category Section */
@media (min-width: 1500px) {
  .product-essentials {
    height: 55vw;
  }
  .category-item img {
    height: 40vw;
    margin-top: 6vw;
  }
  .category-item a {
    font-size: 4vw;
  }
}

@media (min-width: 2000px) {
  .product-essentials {
    height: 47.5vw;
  }
  .category-item img {
    height: 35vw;
    margin-top: 5vw;
  }
  .category-item a {
    font-size: 3.5vw;
  }
}

/* Footer */
@media (min-width: 1500px) {
  .footer {
    height: 27.5vh;
  }
  .footer-menu {
    margin-left: 12vw;
    margin-right: 10vw;
  }
  .footer-links {
    font-size: 3.5vw;
  }
  .copyright-section {
    margin-bottom: -3vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 2000px) {
  .footer {
    height: 23.75vh;
  }
  .footer-menu {
    margin-left: 20vw;
    margin-right: 17vw;
  }
  .footer-links {
    font-size: 3vw;
  }
  .copyright-section {
    margin-bottom: -2.5vw;
    font-size: 2.5vw;
  }
}

/* BESTSELLER PAGE */
@media (min-width: 1500px) {
  .bestseller-page .hero-container img {
    object-position: center;
    height: 55vw;
  }

  .bestseller-page .hero-overlay h3 {
    font-size: 11.5vw;
  }
}

@media (min-width: 2000px) {
  .bestseller-page .hero-container img {
    object-position: center;
    height: 47.5vw;
  }

  .bestseller-page .hero-overlay h3 {
    font-size: 10vw;
  }
}
/* product pictures */
@media (min-width: 1500px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .add-to-basket-icon {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 3.5vw;
    height: 3.5vw;
  }

  .product-name {
    font-size: 4.1vw;
  }

  .product-price {
    font-size: 3.5vw;
  }
}

@media (min-width: 2000px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .add-to-basket-icon {
    position: absolute;
    top: 1.2vw;
    right: 1.2vw;
    width: 2.7vw;
    height: 2.7vw;
  }

  .product-name {
    font-size: 3vw;
  }

  .product-price {
    font-size: 2.5vw;
  }
}

/* SHOPPING CART */
@media (min-width: 1500px) {
  .shopping-cart {
    height: 60vh;
  }
  .cart-title {
    font-size: 7vw;
  }

  #cart-items th {
    font-size: 4.5vw;
  }
  #cart-items th:nth-child(2) {
    padding-left: 3vw;
  }
  #cart-items th:nth-child(2),
  #cart-items td:nth-child(2) {
    width: 30%; /* Quantity */
  }
  #cart-items td:nth-child(3) {
    gap: 3vw;
  }
  #cart-items th:nth-child(3),
  #cart-items td:nth-child(3) {
    width: 30%; /* Price + Icon */
  }
  #cart-items td {
    font-size: 4vw;
  }

  .remove-icon {
    height: 2.4vw;
    padding-left: 2vw;
  }

  #cart-summary {
    padding-right: 2.5vw;
    padding-bottom: 2.5vw;
  }
  #cart-summary p {
    font-size: 4vw;
    margin: 0.5vw;
  }

  #checkout-button {
    padding: 1.4vw 2.4vw;
    margin-top: 4vw;
    font-size: 4vw;
  }
}

@media (min-width: 2000px) {
  .shopping-cart {
    height: 55vh;
  }
  .cart-title {
    font-size: 6vw;
  }

  #cart-items th {
    font-size: 4vw;
  }
  #cart-items th:nth-child(2) {
    padding-left: 2.1vw;
  }
  #cart-items td {
    font-size: 3.5vw;
  }

  .remove-icon {
    height: 2vw;
  }

  #cart-summary {
    padding-right: 2.5vw;
    padding-bottom: 2.5vw;
  }
  #cart-summary p {
    font-size: 4vw;
    margin: 0.5vw;
  }

  #checkout-button {
    padding: 1.5vw 2.5vw;
    margin-top: 4vw;
    font-size: 4vw;
  }
}
