/* MAIN */

/* Navigation Bar */
@media (min-width: 1700px) {
  .navigation-bar {
    padding: 1.5vw;
  }
  .nav-right {
    gap: 2vw;
  }
  nav ul li a img {
    height: 3vw;
    width: 3vw;
  }

  .shopping-cart-icon {
    height: 3.7vw;
    width: 3.7vw;
  }
  .logo img {
    height: 3vw;
  }
}
@media (min-width: 2200px) {
  .navigation-bar {
    padding: 2.5vw 2vw 2.5vw 2vw;
  }
  .nav-right {
    gap: 2vw;
  }
  nav ul li a img {
    height: 2.5vw;
    width: 2.5vw;
  }

  .shopping-cart-icon {
    height: 3.2vw;
    width: 3.2vw;
  }

  .logo img {
    height: 2.5vw;
  }
}

/* LANDING PAGE */
/* hero section */
@media (min-width: 1700px) {
  .hero-container img {
    object-position: center 6px;
    height: 55vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 7vw;
    line-height: 6.5vw;
  }
  .landing-page .hero-overlay {
    bottom: 3vw;
    left: 3vw;
  }
}

@media (min-width: 2200px) {
  .hero-container img {
    object-position: center 8px;
    height: 47.5vw;
  }
  .landing-page .hero-overlay h1 {
    font-size: 6vw;
    line-height: 5.5vw;
  }
  .landing-page .hero-overlay {
    bottom: 2.5vw;
    left: 2vw;
  }
}
/* About Section */
@media (min-width: 1700px) {
  .about-container {
    height: 55vw;
  }
  .about-image img {
    object-position: center 90%;
  }
  .about-text h2 {
    font-size: 7vw;
  }
  .about-text p {
    font-size: 2vw;
  }
}
@media (min-width: 2200px) {
  .about-container {
    height: 47.5vw;
  }
  .about-image img {
    object-position: center 90%;
  }
  .about-text h2 {
    font-size: 6vw;
  }
  .about-text p {
    font-size: 1vw;
  }
}
/* Category Section */
@media (min-width: 1700px) {
  .product-essentials {
    height: 55vw;
  }
  .category-item img {
    height: 40vw;
    margin-top: 6vw;
  }
  .category-item a {
    font-size: 2.3rem;
  }
}

@media (min-width: 2200px) {
  .product-essentials {
    height: 47.5vw;
  }
  .category-item img {
    height: 35vw;
    margin-top: 5vw;
  }
  .category-item a {
    font-size: 2.6rem;
  }
}
/* BESTSELLER PAGE */
@media (min-width: 1700px) {
  .bestseller-page .hero-container img {
    object-position: center;
    height: 55vw;
  }

  .bestseller-page .hero-overlay h3 {
    font-size: 12vw;
  }
}

@media (min-width: 2200px) {
  .bestseller-page .hero-container img {
    object-position: center;
    height: 47.5vw;
  }

  .bestseller-page .hero-overlay h3 {
    font-size: 11vw;
  }
}
/* product pictures */
@media (min-width: 1700px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
