/* MAIN */

/* Navigation Bar */
@media (min-width: 700px) {
  .navigation-bar {
    padding: 5vw 3.5vw 5vw 3.5vw;
  }
  .nav-right {
    gap: 3vw;
  }
}
@media (min-width: 1200px) {
  .navigation-bar {
    padding: 4vw 3vw 4vw 3vw;
  }
  .nav-right {
    gap: 3vw;
  }
  nav ul li a img {
    height: 3.5vw;
    width: 3.5vw;
  }

  .shopping-cart-icon {
    height: 4.2vw;
    width: 4.2vw;
  }
  .logo img {
    height: 3.5vw;
  }
}
/* Menu */
/* LANDING PAGE */
@media (min-width: 1200px) {
  .category-item img {
    height: 45vw;
    margin-top: 9vw;
  }
  .category-item a {
    font-size: 2rem;
  }
}

/* BESTSELLER PAGE */
@media (min-width: 1200px) {
  .bestseller-page .hero-container img {
    object-position: center;
    height: 62.5vw;
  }

  .bestseller-page .hero-overlay h3 {
    font-size: 13vw;
  }
}
/* product pictures */
@media (min-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
